<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.credithc.hhr.module_register">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".view.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

    </application>

</manifest>